<div class="card">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-between">
      All Posts
      <button type="button"
              class="btn btn-primary btn-sm" (click)="onAddPost()">Add Post</button>
    </h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Title</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <a [routerLink]="[post._id]">{{ post.title }}</a>
          </td>
          <td>
            <a [routerLink]="[post._id, 'edit']"
                    class="btn btn-info btn-sm me-1">Edit</a>
            <button type="button"
                    class="btn btn-danger btn-sm"
                    (click)="onDeletePost(post._id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
